node_modules
config
.env
/frontend/build
.DS_Store
/frontend/env.local
/frontend/env.development.local
/frontend/env.test.local
/frontend/env.production.local
npm-debug.logo*
yarn-debug.logo*
yarn-error.logo*