/* ==========================
        Base Styles
 ==========================*/


#root {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #e4ebf5;

}

.App {
  position: relative;
}

h1,
h2,
h3,
h4,
.Navbar,
.textStyle {
  color: #0b2d83 !important;
}

li {
  list-style: none;
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.form-btn {
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 30px;
  margin-bottom: 5px;
  background-color: #4c7bef;
  color: #fff;
}

.add-btn {
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* margin-top: 5px; */
  background-color: #88c147;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  /* width: 125px; */
  padding: 3px;
}

.FormMobile {
  margin: 0 auto;
  width: 300px;
}

.inputStyle {
  margin-bottom: -5px;
  color: #e4ebf5;
  box-shadow: inset 0 0 3px rgba(39, 66, 104, 0.3);
}

.inputMobile {
  margin-bottom: -10px;
}

.Navbar {
  z-index: 1;
}

.Nav2 {
  box-shadow: inset 0 0 8px rgba(39, 66, 104, 0.3);
  border-radius: 5px;
  width: 325px;
  margin: 0 auto;
}

.MainForm {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.AddForm {
  /* height: 60vh; */
  /* display: flex; */
  /* flex-flow: column-wrap; */
  margin: 0 auto;
  width: 325px;
  padding: 0;
}

.AddField {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.CardStyle {
  padding: 10px;
}

.delete-btn {
  background-color: #ff716d;
  color: #fff;
}

.RecipeCard {
  width: 325px;
  background-color: #EDF1F7;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.apiRecList {
  padding: 0;
}

.ingStyle {
  width: auto;
  height: 2px;
  opacity: 0.1;
  background-color: lightslategrey;
}

table {
  margin: 0 auto 1.5em auto;
}

td {
  padding: 0.5em 0.7em 1em 1em;
  border: 3px solid #e1e9f4;
  border-top: none;
  border-right: none;
}

td:nth-of-type(1) {
  border-left: none;
}

th {
  text-align: center;
}

.card-btn {
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
}

/* .Modal {
  width: 400px;
  margin: 0 auto;
  align-self: center;
} */


.Profile {
/* display: flex;
width: 90vw;
flex-direction: row; */
/* justify-content: space-around; */
}

/* ==========================================
                Media Queries
 ===========================================*/


 @media (min-width: 768px) {

/* ==========================
    Form & Input Style
 ==========================*/

  .FormMobile {
    display: none;
  }

  .Form {
    flex-direction: row;
  }

  .FormCard {
    width: 350px;
    padding: 0.1rem 1rem 2.0rem;
    margin-top: 175px;
    margin-left: -138px;
    align-self: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: #fff;
    z-index: 5;
  }

    
/* ==========================
    Login & Register Style
 ==========================*/

  .EntryStyleBar1 {
    height: 650px;
    width: 650px;
    border-radius: 50%;
    background-color: rgba(144, 183, 77, 1);
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 0px -100px -375px 0px;
    z-index: 3;
  }

  .EntryStyleBar2 {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: rgba(144, 183, 77, 0.7);
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 0px -150px 100px 0px;
    z-index: 2;
  }

  .EntryStyleBar3 {
    height: 450px;
    width: 450px;
    border-radius: 50%;
    background-color: rgba(144, 183, 77, 0.5);
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 0px -100px 175px 0px;
    z-index: 1;
  }

  .EntryStyleBar4 {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: rgba(144, 183, 77, 0.5);
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 0px -125px 500px 0px;
    z-index: 2;
  }

  .EntryDisplay {
    height: 100vh;
    filter: opacity(0.8);
    z-index: 4;
  }

  .RegisterHeader {
    font-size: 2rem;
    width: 40vw;
    height: auto;
    position: absolute;
    right: 25px;
    top: 200px;
  }

  .displayStyle {
    height: 100vh;
    margin-left: -425px;
    /* margin-top: -5px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 4;
  }

    
  /* ==========================
        Profile Page
 ==========================*/

  .Profile {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* margin: auto; */
    }
  
  .AddForm {
    display: flex;
    flex-direction: column;
    height: 55vh;
    width: 500px;
    overflow: scroll;
    padding: 0;
  }

  .RecipeCard {
    width: 48%;
    margin: 2em 1%;
    padding: 0;
  }
  
}



/* ==========================
    L + XL Screen Queries
 ==========================*/

@media (min-width: 992px) {

  .FormCard {
    margin-left: 100px;
  }

  .RegisterHeader {
    right: 110px;
  }

}

@media (min-width: 1400px) {
  .FormCard {
    margin-left: 525px;
  }
}

.RegisterHeader {
  font-size: 2.6rem;
}

@media (max-width: 767px) {
  .FormDesktop{
    display: none;
  }
}