/* ==========================
        Base Styles
 ==========================*/


html,
#root,
body {
  height: 100%;
  width: 100%;
  overflow-y: scroll !important; 
  font-size: 1rem;
  font-family: 'Oxygen', sans-serif !important;
}


.App {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  overflow-x: hidden; 
  overflow-y: hidden;
}

.MainContain {
  flex-grow: 1;
}

.Header,
.MainContain,
.Footer {
  flex-shrink: 0;
}

h1,
h2,
h3,
h4,
.textStyle {
  color: #000 !important;
}

h3,
h4 {
  font-size: 1.2em !important;
}

.logo {
  background-color: #71913b;
  transition: all .2s ease-in-out;
  width: 80px;
  height: 100px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  position: absolute;
  padding-left: 10px;
  color: #fff !important;
  top: 10px;
}

.logo div {
  margin-top: -5px;
  text-align: start;
}

.logo:hover {
  transform: scale(1.1);
  background-color: #88ae47;
}

.homeHeader {
  width: 90%;
  position: relative;
  top: 40px;
  margin: 2rem auto;
  text-align: center;
}

li {
  list-style: none;
}

.mainNavLink {
  color: #4778eb;
}

.mainNavLink:hover {
  color: #164cca;
  padding-bottom: 3px;
  border-bottom: 3px solid rgba(144, 183, 77, 1);
}

.Footer {
  background-color: #c4d4e9;
  color: rgba(0, 0, 0, 0.6);
  height: 3rem;
  margin-top: auto;
  padding: 0.5rem;
  text-align: start;
  z-index: 3;
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 350px;
}

.form-btn {
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 1rem;
  font-weight: bold;
  padding: 10px;
  background-color: #4c7bef;
  color: #fff;
}

.form-btn:hover {
  background-color: #3166ed;
  color: #fff;
}

.form-btn:focus,
.form-btn:active {
  background-color: #3166ed !important;
  color: #fff !important;
  outline: none !important;
  box-shadow: none !important; 
  box-shadow: inset 0 3px 6px rgb(0 0 0 / 20%) !important;
}

.add-btn {
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #88c147;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  padding: 0px;
}

.add-btn:hover {
  background-color: #7eb83d;
  color: #fff;
}

.add-btn:focus,
.add-btn:active {
  background-color: #7eb83d !important;
  color: #fff !important;
  outline: none !important;
  box-shadow: none !important; 
  box-shadow: inset 0 3px 6px rgb(0 0 0 / 20%) !important;
}

.collect-btn {
  border-radius: 5px;
} 

.FormMobile {
  margin: -10px auto;
  width: 80vw;
}

.inputStyle {
  box-shadow: inset 0 0 3px rgba(39, 66, 104, 0.3);
  max-width: 325px;
}

.inputMobile {
  margin-bottom: -5px;
}

.AddInput {
  margin: 0px auto -10px;
  width: 48%;
}

.AddHeader {
  margin-bottom: -5px;
}

.Navbar {
  text-align: center;
  z-index: 3;
  overflow: visible;
}

.nav-pills {
  box-shadow: none;
}

.Nav2 {
  box-shadow: inset 0 0 8px rgba(39, 66, 104, 0.3);
  border-radius: 5px;
  margin: 0 auto em;
  padding: 1rem;
}

.Nav2 .nav-link {
  background-color: rgba(39, 66, 104, 0.1);
  color: rgba(39, 66, 104, 1);
  border-radius: 5px;
  padding: 10px 10px;
  margin: -0.5rem;
}
 
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: rgba(39, 66, 104, 0.6) !important;
  color: #fff;
}

.Nav2 .nav-link:hover {
  background-color: rgba(39, 66, 104, 0.3);
  box-shadow: inset 0 3px 6px rgb(0 0 0 / 20%);
  color: #fff;
} 

.BrowserCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.browserCard {
  flex: 0 1 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: inset 0 0 8px rgba(39, 66, 104, 0.3);
  position: relative;
  z-index: 2;
}

.browserCard ul {
  padding-left: 1rem;
}

.MainForm {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0.5rem auto 8rem;
  flex-shrink: 0;
  z-index: 4;
}

.MainForm label {
  color: #000;
}

.AddForm {
  margin: 6em 2em 3em;
  padding: 1rem;
  box-shadow: inset 0 0 6px rgba(39, 66, 104, 0.6);
  border-radius: 5px;
  background-color: #e4ebf5;
}

.AddField {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.CardStyle {
  background-color: #e4ebf5;
  box-shadow: none;
}

.edit-btn {
  border-radius: 5px;
} 

.edit-btn:focus,
.edit-btn:active {
  background-color: #d3deee !important;
  color: rgba(39, 66, 104, 0.6) !important;
  outline: none !important;
  box-shadow: none !important; 
  box-shadow: inset 0 3px 6px rgb(0 0 0 / 20%) !important;
}

.edit-btn:hover {
  background-color: #d3deee !important;
}

.delete-btn {
  border-radius: 5px;
  background-color: #ff7570;
  color: #fff;
} 

.delete-btn:hover {
  background-color: #ff615c;
  color: #fff;
}

.delete-btn:focus,
.delete-btn:active {
  background-color: #ff615c !important;
  color: #fff !important;
  outline: none !important;
  box-shadow: none !important; 
  box-shadow: inset 0 3px 6px rgb(0 0 0 / 20%) !important;
}

.RecipeCard {
  flex: 0 1 24%;
  padding: 1rem;
  margin-bottom: 2%;
  box-shadow: inset 0 0 8px rgba(39, 66, 104, 0.3);
  position: relative;
}

.ProfRecipeCard {
  flex: 0 1 40%;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: inset 0 0 8px rgba(39, 66, 104, 0.3);
  position: relative;
}

.apiRecList {
  padding: 0;
}

.ingStyle {
  width: auto;
  height: 2px;
  opacity: 0.1;
  background-color: lightslategrey;
}

table {
  margin: 0 auto 1rem auto;
}

td {
  padding: 0.3em 0.7em 0.5em 1em;
  border: 3px solid #e1e9f4;
  border-top: none;
  border-right: none;
}

td:nth-of-type(1) {
  border-left: none;
}

th {
  text-align: center;
}

.Profile {
  height: 100vh !important;
}

.ProfileNav {
  height: auto !important;
}

.RecipeLayout {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; 
  align-items: flex-start;
  margin: 4rem auto;
  padding-bottom: 4em;
}

.ProfileRecipe {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 4rem auto;
  padding-bottom: 4em;
}

.innerContain {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  height: 100%;
  width: 100%;
}

.HomeStyleBar1 p {
  display: none;
}


/* ==========================================
                Media Queries
 ===========================================*/

 @media (min-width: 576px) {

  .homeHeader {
    display: none;
  }

  .MainForm {
    margin-top: 4rem;
  }
   
  .HomeStyleBar1 {
    height: 325px;
    width: 325px;
    border-radius: 50%;
    background-color: rgba(49, 102, 237, 1);
    position: absolute;
    right: 250px;
    top: 25px;
    margin: 0px -125px 500px 0px;
    z-index: 2;
  }

  .HomeStyleBar1 p {
    display: block;
    position: relative;
    top: 75px;
    left: 65px; 
    width: 220px;
    color: #fff;
  }

  .HomeStyleBar2 {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: rgba(49, 102, 237, 0.7);
    position: absolute;
    right: -125px;
    top: 150px;
    margin: 0px -100px 175px 0px;
    z-index: 2;
  }

  .HomeStyleBar3 {
    height: 350px;
    width: 350px;
    border-radius: 50%; 
    background-color: rgba(49, 102, 237, 0.5);
    position: absolute;
    right: -25px;
    top: 600px;
    margin: 0px -150px 100px 0px;
    z-index: 1;
  }

  .HomeStyleBar4 {
    height: 800px;
    width: 800px;
    border-radius: 50%;
    background-color: rgba(49, 102, 237, 0.3);
    position: absolute;
    right: -300px;
    top: 750px;
    margin: 0px -100px -375px 0px;
    z-index: 2;
  }

 }


@media (min-width: 768px) {

  .App {
    font-size: 1.2em;
  }


/* ==========================
    Form & Input Style
 ==========================*/

  .FormMobile {
    display: none;
  }

  .Form {
    flex-direction: row;
  }

  .FormCard {
    width: 350px;
    padding: 0.1rem 1rem 2.0rem;
    margin-top: 175px;
    margin-left: 250px;
    margin-right: -325px;
    align-self: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: #fff;
    z-index: 5;
  }

    
/* ==========================
    Login & Register Style
 ==========================*/

  .EntryStyleBar1 {
    height: 650px;
    width: 650px;
    border-radius: 50%;
    background-color: rgba(144, 183, 77, 1);
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 0px -100px -375px 0px;
    z-index: 3;
  }

  .EntryStyleBar2 {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: rgba(144, 183, 77, 0.7);
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 0px -150px 100px 0px;
    z-index: 2;
  }

  .EntryStyleBar3 {
    height: 450px;
    width: 450px;
    border-radius: 50%; 
    background-color: rgba(144, 183, 77, 0.5);
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 0px -100px 175px 0px;
    z-index: 1;
  }

  .EntryStyleBar4 {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: rgba(144, 183, 77, 0.5);
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 0px -125px 500px 0px;
    z-index: 2;
  }

  .EntryDisplay {
    height: 100vh;
    filter: opacity(0.8);
    z-index: -1;
  }

  .RegisterHeader {
    font-size: 2.6rem;
    width: 35vw;
    height: auto;
    position: absolute;
    right: 75px;
    top: 150px;
  }

  .displayStyle {
    margin-left: -300px;
    margin-right: -200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 4;
  }

  .Navbar {
    z-index: 5;
  }


  /* ==========================
          Browser
 ==========================*/
  
  .innerContain {
    flex-direction: row;  
    margin-top: 5rem;
  }

  .MainForm {
    width: 300px;
  }


  /* ==========================
        Profile Page
 ==========================*/
   
  .AddForm {
    height: 500px;
    width: 500px;
    padding: 0.5rem;
    margin: 2em auto 1em;
  }

  .CardStyle {
    padding: 2em;
    height: 480px;
    overflow: scroll;
  }

  .RecipeCard {
    padding: 0;
  }

  .RecipeLayout > .card {
    margin-right: 1em;
  }

  .ProfRecipeCard {
  flex: 0 1 40%;
  padding: 1rem;
  margin-bottom: 2%;
  box-shadow: inset 0 0 8px rgba(39, 66, 104, 0.3);
  position: relative;
}
  
  .Nav2 {
    margin: 2em auto -1rem;
    width: 700px;
  }
}


/* ==========================
    L + XL Screen Queries
 ==========================*/

@media (min-width: 992px) {

  .FormCard {
    margin-left: 150px;
    margin-right: -600px;
  }

  .RegisterHeader {
    right: 145px;
    width: 40vw;
  }

  .displayStyle {
    margin-left: -250px;
    margin-right: 50px;
  }

  .ProfileRecipe {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; 
    align-items: flex-start;
    margin: 4rem 2rem;
    padding-bottom: 4em;
  }

  .ProfRecipeCard {
    margin: 1rem 2rem;
  }

  .browserCard {
    flex: 0 1 45%;
    padding: 1rem;
  }
}


@media (min-width: 1400px) {
  
  .FormCard {
    margin-left: 400px;
  }

  .displayStyle {
    margin-left: -500px;
    margin-right: 50px;
  }

  .RegisterHeader {
    right: 250px;
    top: 250px;
  }

}


@media (max-width: 767px) {
  .FormDesktop{
    display: none;
  }
}